<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<h1>Add a new dog!</h1>
<%= form_for @dog do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :breed %><br>
  <%= f.text_field :breed %><br>
  <%= f.label :size %><br>
  <%= f.text_field :size %><br>
  <%= f.label :about %><br>
  <%= f.text_field :about %><br>
  <%= f.label :img_url %><br>
  <%= f.text_field :img_url %><br>
  <%= f.submit %>
  <%end%>