<h1><%= @dog.name %></h1>

<ul>
    <li>Name: <strong><%= @dog.name%></strong></li>
    <li>Breed: <%= @dog.breed %></li>
    <li>Size: <%= @dog.size %></li>
    <li>About: <%= @dog.about %></li>
    <%= link_to "See what people say about me", reviews_path %>
    <li><%= image_tag @dog.img_url %></li>
</ul>

<h3> Check out what folks say about this pup: </h3>

<%= link_to "Make an appointment with this pup", new_appointment_path %>