<h1><%= @dog.name %></h1>
<p>Name: <strong><%= @dog.name%></strong></p>
<p>Breed: <%= @dog.breed %></p>
<p>Size: <%= @dog.size %></p>
<p>About: <%= @dog.about %></p>
<p><%= image_tag @dog.img_url %></p>


<p><%= link_to "See what people say about me", reviews_path %></p>
<p><%= link_to "Make an appointment with this pup", new_appointment_path %></p>