<h1> New Appointment </h1>

<h2> Let's set a date! Here are your puppy pals: </h2>


<%= form_for @appointment do |f| %>
<%= f.label :description %>
<%= f.text_area :description %>

<%= f.label :appointment_datetime %>
<%= f.date_select :appointment_datetime %>

<%= f.label :dog %>
<%= collection_select :match, :dog_id, Dog.all, :id, :name %>

<%= f.submit %>
<%end%>