<h2> You've scheduled an appointment with: </h2>
<ul>
  <li>Name: <%= @appointment.match.dog.name%>
  <li>On: <%= @appointment.appointment_datetime.strftime("%B %d, %Y")%>
  <li>For: <%= @appointment.description %>
  <li><%= link_to "Write a review for this appointment", new_review_path %> </li>
  <br>
  <%= image_tag @appointment.match.dog.img_url %></h2>
</ul>
