<h1> New Review </h1>

<h2> Let us know how its going with your pup: </h2>


<%= form_for @review do |f| %>

<%= f.label :appointment %>
<%= collection_select :appointment, :appointment_id, Appointment.all, :id, :description %>

<%= f.label :match %>
<%= collection_select :match, :match_id, Dog.all, :id, :name %>

<%= f.label "Review" %>
<%= f.text_area :dog_review %>

<%= f.label "Rating" %>
<%= f.number_field :dog_rating, within: 1..5 %>

<%= f.submit %>
<%end%>